<template>
    <div class='window'>
        <div class="top-bar">
            
        </div>
        <div class="input-container">

        </div>
        <div class="message-container">

        </div>
    </div>
</template>
<style scoped>
.window {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.message-container {

}


</style>
<script>

module.exports = {
    components: {
        'cesium-wrapper': require('./cesium-module/cesium-wrapper.vue'),
        'plugin-switcher': require('./plugin-switcher.vue')
    },
    created () { },
    data: function() { return {

        connection_status: '',
        key: '',

    } },
    methods: {
        sendMessageToServer() {
        },
    },
    computed: {
        top_card: function() {
            return this.$store.getters.top_card;
        }
    }
}
</script>
